html {
    position: relative;
    vertical-align: middle;
    min-width: 800px;
    min-height: 600px;
}

.horizontalLineBlue {
    height:5px;
    border-width:0;
    background-color: rgb(68, 138, 255);
  }

  .horizontalLineWhite {
    height:5px;
    border-width:0;
    background-color: whitesmoke;
  }

.title {
    text-align: center;
    color: white;
}

body {
    background-color: black;
}

.leftIcon i {
    position: absolute;
    left: 20px;
    top: 15px;
}

button {
    position: absolute;
    top: 525px;
    left: 365px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    border-color: white;
    background-color: rgb(68, 138, 255);
}

.form {
    position: absolute;
    top: 125px;
    left: 350px;
    color: white;
}

label {
    font-size: large;
}

input[type=text] {
    width: 100%;
    border-color: rgb(68, 138, 255);
    border-radius: 10px;
    border-width: 5px;
    padding: 12px 20px;
    margin: 8px -21px;
    box-sizing: border-box;
  }