html {
    position: relative;
    vertical-align: middle;
    min-width: 800px;
    min-height: 600px;
}

.horizontalLineBlue {
    height:5px;
    border-width:0;
    background-color: rgb(68, 138, 255);
  }

  .horizontalLineWhite {
    height:5px;
    border-width:0;
    background-color: whitesmoke;
  }

.title {
    text-align: center;
    color: white;
}

body {
    background-color: black;
}

button {
    position: absolute;
    top: 525px;
    left: 365px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    border-color: white;
    background-color: rgb(68, 138, 255);
}

.jobRow {
    color: white;
}